<div class="booyah box col-10 offset-1">
  <h1 class="text-center">Ribeye Steak</h1>
  <%= link_to 'The actual thing', ribeye_path %>
  <br />
  <p>
    Here I have my personal favorite dinner recipe, Ribeye steak. nothing beats a ribeye. No cut of meat has the same kind of marbling, tenderness and flavor. I believe reverse searing this particular steak is the best way to get a perfect medium temperature. And another plus side to cooking the steak in the oven first is you have time to work on any side you want to have with it. If it were me, I would sautee some mushrooms, and have another side of potatoes. 
  </p>

  <h2 class="text-center">Cooking techniques</h2>
  <dl class="text-center">
    <dt>Reverse Searing</dt>
      <dd>Reverse searing is my preferred method to get my steak to cook interally. When it goes in the oven first it cooks the steak slower allowing the meat time to adjust in a sense. If you sear the steak first and then put it in the oven the fibers tend to sieze up and the meat becomes less tender. For a most steaks you want a more tender meat. Also searing it first and then putting it in the oven second makes it easier to over cook it. It's my go to method for thinner cuts of meat.</dd>
    <dt>Basting</dt>
      <dd>
        Basting the steak in butter and herbs makes it pop with flavor. Everything about it is satisfying. From the aroma radiating off of the steak, to the sounds of the butter crisping the meat, to taste that this method creates. Basting completes the steak. It also keeps it moist, so you don't have to worry too much about drying out the meat.
      </dd>
  </dl>
</div>
