<div class="col-10 offset-1">
  <h1>Ribeye</h1>
    <p>
      This recipe is my favorite for ribeye. It taste even better with a dry aged ribeye, but those are an expensive cut and I don't usually have them. I do this with a boneless ribeye, If you were to do a bone-in I would suggest looking up cook times and such because they would be different. For the mushrooms I use oyster mushrooms. They taste great. You can substitute them for a wide variety of mushrooms. Another good choice would be lions mane mushrooms. For the potatoes I like to use fingerling potatoes. I find these sides to be pretty simple to make and very tasty.
    </p>
  <br />
  <h2>Ingredients</h2>
    <h5>For the ribeye</h5>
      <ol type="I">
          <li> 1-1.25 Lb Ribeye steak</li>
          <li> 2 clove of garlic</li>
          <li> 2 sprig of rosemary</li>
          <li> 3 sprig thyme</li>
          <li> 2 tablespoons of butter</li>
          <li> salt and pepper</li>
          <li> Conola Oil</li>
      </ol>
    <h5>For the Potatoes</h5>
      <ol type="I">
        <li> a bunch of assorted colored baby potatoes</li>
        <li> 2 Garlic cloves</li>
        <li> Olive oil</li>
        <li> Salt and Pepper</li>
      </ol>
    <h5>For the Mushrooms</h5>
      <ol type="I">
        <li> 2 or 3 bunches of Oyster Mushrooms</li>
        <li> 2 Garlic cloves</li>
        <li> Olive oil</li>
        <li> Salt and pepper</li>
      </ol>
  <h5>directions</h5>
  <ol>
    <li>Preheat the oven to 250 degrees. While it's heating up season the steak with salt and pepper. I find that when the meat is at room temperature it gets more crisp in the pan. Also make sure to add a good amount of salt and pepper. And when the oven is ready put the steak in and set the timer for 35 minutes. This cooks the meat internally while leaving the outside ready to be seared.</li>
    <br />
    <li>While the steak is in the oven this is a good time to start the potatoes. I like to cut them up into fours. Then drizzle a little olive oil(not a lot because they are about to be cooked in it) and season with salt and pepper. Turn the stove on to medium-hi heat and add the potatoes. I usually wait until they are brown(potatoes are thick so it does take a while to cook them all the way through). While they are cooking, cut 2 garlic cloves into slivers, as thin as possible. When the potatoes are brown and crisp all over add the garlic and take the potatoes off of the heat. (To keep them warm I put them in the oven next to the steak, because its at the right temp to keep it warm but also not burn it.)</li>
    <br />
    <li>If you still have time before the steak is ready now is good time to prep the mushrooms. remove the base of it and pull them apart. Then cut the garlic into slivers. Just like you did for the potatoes.</li>
    <br/>
    <li>Get a cast iron skillet, add the conola oil and get it hot. You want it to immediatly sizzle when you put the steak on it. add the steak as carefully as you can so you don't splash hot oil every where. Cook on one side for around 30 seconds, or until it is crisp. When it's brown flip it to the other side. Now add the butter, garlic, and herbs(becareful the herbs will pop and splash oil). When the butter melts, use a tongs to put the garlic and herbs on top of the steak, while simultaneously tilting the pan to one side and spooning the melted butter on top of the herbs. Basting the steak keeps it moist and adds a lot of flavor. If you have a thermometer, check the temperature. (For medium steak it should reach an internal temperature of 140 degrees farenhieght) When you have reached your desired level of doneness remove the steak from the pan and let it sit on a cutting board for 10 minutes.</li>
    <br />
    <li>Now that the steak is resting it is time to cook the mushrooms. Just add olive oil to a saute pan and turn it to medium heat. Add the mushrooms and saute until they are brown(around 8 minutes). Add in the garlic halfway through and season the pan with salt and pepper. Do not add the garlic too early because it will burn. When the mushrooms are done add them to your plate, and do not forget about the potatoes. Once the 10 minutes is up it is time to cut the steak. slice it diaganolly, against the grain. Then plate it up and enjoy!
</div>